<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" type="Task1.Logic.ApplicationConfiguration, Task1"/>
	<section name="DatabaseConfiguration" type="Task1.Logic.DatabaseConfiguration, Task1"/>
  </configSections>
  <ApplicationConfiguration
	ApplicationName="ISP task"
    ApplicationVersion="0.012"
    AuthorName="Jane Stewart"
  />
  <DatabaseConfiguration
	SaPassword="Ep@m2017!"
    SQLServerName="localhost"
    SQLDatabaseName="ISP"
/>
</configuration>