<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConfigurationSettings" type="Task1.Logic.ConfigurationSettings, Task1"/>
  </configSections>
  <ConfigurationSettings
    ApplicationName="ISP task"
    ApplicationVersion="0.012"
    AuthorName="Jane Stewart"
    SaPassword="Ep@m2017!"
    SQLServerName="localhost"
    SQLDatabaseName="ISP"
  />
</configuration>